/* asterisk selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: box-border;
}

/*header*/
header {
    background-color: #ffffff;
}

/*main content*/
main {
    background-color: #0d0d0d;
}

/*footer*/
footer {
    background-color: #fafafa;
}
